<head>
    <title>femmine</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<div class="slideshow1" style="max-width:800px;position:relative">

    <img class="femmine" src="0.png" style="width:100%">
    <img class="femmine" src="1.png" style="width:100%">
    <img class="femmine" src="2.png" style="width:100%">
    <img class="femmine" src="5.png" style="width:100%">
    <img class="femmine" src="6.png" style="width:100%">
    <img class="femmine" src="9.png" style="width:100%">
    <img class="femmine" src="12.png" style="width:100%">
    <img class="femmine" src="14.png" style="width:100%">
    <img class="femmine" src="15.png" style="width:100%">
    <img class="femmine" src="17.png" style="width:100%">
    <img class="femmine" src="19.png" style="width:100%">
    <img class="femmine" src="21.png" style="width:100%">
    <img class="femmine" src="23.png" style="width:100%">
    <img class="femmine" src="27.png" style="width:100%">
    <img class="femmine" src="29.png" style="width:100%">
    <img class="femmine" src="30.png" style="width:100%">
    <img class="femmine" src="31.png" style="width:100%">
    <img class="femmine" src="32.png" style="width:100%">
    <img class="femmine" src="36.png" style="width:100%">
    <img class="femmine" src="37.png" style="width:100%">
    <img class="femmine" src="38.png" style="width:100%">
    
    <button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button>

</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
showDivs(slideIndex += n);
}

function showDivs(n) {
var i;
var x = document.getElementsByClassName("mySlides");
if (n > x.length) {slideIndex = 1}
if (n < 1) {slideIndex = x.length}
for (i = 0; i < x.length; i++) {
x[i].style.display = "none";  
}
x[slideIndex-1].style.display = "block";  
}
</script>

    
    </div>
    
    <script>
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("femmine");
      if (n > x.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = x.length} ;
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }
    </script>
    <button onclick="document.location='students_performance.html'">torna indietro</button>
    </body>